<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">



</head>

<body>

    <div class="todo" id="todo">
        <figure>

            <img class="peque" id="peque" src="../../../assets/logo/logo.png" alt="Logo">
            <h1 class="logo" id="logo">Contacto. <span>Pacifico's tower</span></h1>
        </figure>


        <div class="contact-todo animated bounceInUp" id="contact-wrapper">
            <div class="formulario" id="formulario">
                <h3>Contacto</h3>
                <form action="">
                    <p>
                        <label>Nombre</label>
                        <input type="text" name="nombre" id="nombre">
                    </p>
                    <p>
                        <label>Correo</label>
                        <input type="email" name="correo" id="correo">
                    </p>
                    <p>
                        <label>Celular</label>
                        <input type="tel" name="celular" id="celular">
                    </p>
                    <p>
                        <label>asunto</label>
                        <input type="text" name="asunto" id="asunto">
                    </p>
                    <p class="no">
                        <label>Mensaje</label>
                        <textarea name="mensaje" id="mensaje" rows="3"></textarea>
                    </p>
                    <p class="no">
                        <button>
                            Enviar
                        </button>
                    </p>
                </form>
            </div>
            <div class="informacion" id="informacion">
                <h4>Informacion</h4>
                <ul>
                    <li><i class="fas fa-map-marker-alt"></i> Pacifico's tower</li>
                    <li><i class="fas fa-phone"></i> 3153156511</li>
                    <li><i class="fas fa-envelope-open-text"></i> riascosf23@gmail.com</li>
                </ul>
                <p>Te garantizamos darte un mejor servicio cada dia </p>
                <p>Pacifico's tower.com</p>
            </div>
        </div>

    </div>

</body>

</html>