<main>
    <section>
        <div class="padre" id="padre">
            <figure>
                <img src="../../../../assets/imagenes/imgArticulos/p1.jpg" alt="">
                <div class="capa" id="capa">
                    <h3>Vino</h3>
                    <p> La casa invita $12.000
                    </p>
                    <button class="rese">Reservar</button>
                </div>
            </figure>

            <!--  -->
            <figure class="edit" id="edit">
                <img src="../../../../assets/imagenes/imgArticulos/p2.jpg" alt="">
                <div class="capa" id="capa">
                    <h3>Carne</h3>
                    <p> Diferente variedades a solo 19.999
                    </p>
                    <button class="rese">Reservar</button>
                </div>
            </figure>

            <!--  -->
            <figure>
                <img src="../../../../assets/imagenes/imgArticulos/p3.jpg" alt="">
                <div class="capa" id="capa">
                    <h3>Camarones</h3>
                    <p> El buen sabor $13.999
                    </p>
                    <button class="rese">Reservar</button>
                </div>
            </figure>

            <!--  -->
            <figure class="edit" id="edit">
                <img src="../../../../assets/imagenes/imgArticulos/p4.jpg" alt="">
                <div class="capa" id="capa">
                    <h3>Vino</h3>
                    <p> Gran variedad a desgustar $ 15.999
                    </p>
                    <button class="rese">Reservar</button>
                </div>
            </figure>



        </div>
    </section>
    <!--  -->
    <!--  -->
    <section>
        <div class="padre" id="padre">
            <figure>
                <img src="../../../../assets/imagenes/imgArticulos/p5.jpg" alt="">
                <div class="capa" id="capa">
                    <h3>Cocteles</h3>
                    <p> Gran variedad de sabor
                    </p>
                    <button>Reservar</button>
                </div>
            </figure>

            <!--  -->
            <figure class="edit" id="edit">
                <img src="../../../../assets/imagenes/imgArticulos/p6.jpg" alt="">
                <div class="capa" id="capa">
                    <h3>Vino</h3>
                    <p> Gran sabor a desgustar
                    </p>
                    <button class="rese">Reservar</button>
                </div>
            </figure>

            <!--  -->
            <figure>
                <img src="../../../../assets/imagenes/imgArticulos/p7.jpg" alt="">
                <div class="capa" id="capa">
                    <h3>Plato fuerte</h3>
                    <p> Precio 12.000
                    </p>
                    <button class="rese">Reservar</button>
                </div>
            </figure>

            <!--  -->
            <figure class="edit" id="edit">
                <img src="../../../../assets/imagenes/imgArticulos/p8.jpg" alt="">
                <div class="capa" id="capa">
                    <h3>Pizza</h3>
                    <p> Solo por hoy 12 % de descueno
                    </p>
                    <button class="rese">Reservar</button>
                </div>
            </figure>



        </div>
    </section>
</main>
