<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card">
            <img src="../../../assets/imagenes/productos/hamb4.jpg" class="card-img-top" alt="..." width="30px">
            <div class="card-body">
                <h5 class="card-title">Hamburguesa</h5>
                <p class="card-text">Una hamburguesa es un sándwich hecho a base de carne molida o de origen vegetal, ​ aglutinada en forma de filete cocinado a la parrilla o a la plancha.</p>
                  
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../../../assets/imagenes/productos/carne.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Carne</h5>
                <p class="card-text">El asado, barbacoa, parrilla o parrillada es una técnica de cocción mediante la cual, los alimentos son expuestos al calor de fuego o brasas para que se cocinen lentamente.</p>
             
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../../../assets/imagenes/productos/espag.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Espagueti</h5>
                <p class="card-text">El espagueti es un tipo de pasta italiana elaborada con harina de grano duro y agua..</p>
                 
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../../../assets/imagenes/productos/pizza.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Pizza</h5>
                <p class="card-text">La pizza es una preparación culinaria que consiste en un pan plano, habitualmente de forma circular, elaborado con harina de trigo, levadura, agua y sal.</p>
                 
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../../../assets/imagenes/productos/pollo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Pollo</h5>
                <p class="card-text">Se llama carne de pollo a los tejidos musculares y órganos procedentes del pollo..</p>
                  
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../../../assets/imagenes/productos/enpollo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Ensalada de pollo</h5>
                <p class="card-text">La Ensalada de pollo es una ensalada en la que el ingrediente principal es la carne de pollo que ha sido previamente hervida y desmenuzada.</p>
                
                

            </div>
        </div>
    </div>
</div>
