<main>
    <section class="principal" id="principal">
        <blockquote>
            <h2 class="title">Pacifico's tower</h2> <br>
            <p>Pacifico's tower es un restaurante con mas de 50 años en el mercado
                atendiendo a sus clientes de la mejor manera y llevando los mejores
                productos en especial de la costa del pacifico a los platos de estos
                para que se lleven la mejor impresion de nuestra cocina ancestral,
                ademas de brindar una gran variedad de cocteles de autor basado en
                bebidas de nuestra area, con sus frutas y demas.</p>
        </blockquote>

        <form action="">
            <input type="text" name="correo" id="correo" placeholder="Correo">
            <input type="password" name="contraseña1" id="contraseña1" placeholder="contraseña">
            <input type="password" name="contraseña1" id="contraseña1" placeholder="contraseña">
            <button> Iniciar Sesion</button>
            <a href="#">Olvide mi clave</a>
        </form>
    </section>

  

</main>

