<main>
    <section>
        <div class="Contenedor" id="Contenedor">
            <h2>¿DE QU&Eacute; ESTÁS ANTOJADO HOY?</h2>
            <p>A trav&eacute;s de nuestros diferentes canales</p>
            <ul>
                <div>
                    <li><img src="../../../../assets/imagenes/img2/pollo.png" alt=""></li>
                    <h2>pollo</h2>
                </div>
                <div>
                    <li><img src="../../../../assets/imagenes/img2/pescado.png" alt=""></li>
                    <h2>pescado</h2>
                </div>
                <div>
                    <li><img src="../../../../assets/imagenes/img2/ligero.png" alt=""></li>
                    <h2>Ligero</h2>
                </div>
            </ul>
            <!--  -->
            <ul class="segunda" id="segunda">
                <div>
                    <li><img src="../../../../assets/imagenes/img2/cerdo.png" alt=""></li>
                    <h2>Cerdo</h2>
                </div>
                <div>
                    <li><img src="../../../../assets/imagenes/img2/red.png" alt=""></li>
                    <h2>Red</h2>
                </div>
                <div>
                    <li><img src="../../../../assets/imagenes/img2/tipico.png" alt=""></li>
                    <h2>Tipico</h2>
                </div>
    
            </ul>
        </div>
    
    </section>
    </main>
